@model MovieU.Models.Movies

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_dash.cshtml";
}

<div class="app-title d-flex align-items-center justify-content-between">
    <div>
        <h1 class="mb-0"><i class="fa fa-video-camera"></i> Add a New Movie</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control"/>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <input asp-for="Tags" class="form-control"/>
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="StreamUrl" class="control-label"></label>
                        <input asp-for="StreamUrl" class="form-control"/>
                        <span asp-validation-for="StreamUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
